/* Maroon: #680246ff
Light Pink: #fcebff
*/

body {
    margin: 0;
    color: #680246ff;
}

/* TRANSITIONS */
@keyframes slideInLeft {
    0% {
        width: 55vw;
        margin-left: -5vw;
    }
    100% {
        width: 50vw;
        margin-left: 0vw;
    }
}
@keyframes slideInRight {
    0% {
        padding-left: 5vw;
    }
    100% {
        padding-left: 0vw;
    }
}

/* LANDING PAGE */
#homePageContainer {
    display: flex;
}
/* left */
#homeLeftColumn {
    z-index: 1;
    animation: 2s slideInLeft ease-out;
    background-color: #fcebff;
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#bioTextContainer {
    margin: 0 auto;
}
h1 {
    margin: 0 auto 10px;
    width: 90%;
    font-size: 4em;
    text-align: center;
}
#bioText {
    margin: 0 auto 10px;
    min-width: 40vw;
    width: min-content;
    font-size: 1.5em;
    text-wrap: balance;
    text-align: center;
}

/* right */
#homeRightColumn {
    position: relative;
    display: flex;
    width: 50vw;
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
}
/* pic */
#imgRow {
    animation: 2s slideInRight ease-out;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;
    top: 0;
}
#imgFrame {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    overflow: hidden;
}
#bioImg {
    background: url('/bioImg.jpeg');
    background-position: center;
    background-size: contain;
    width: 900px;
    height: 600px;
    margin-left: -135px;
}
/* about */
#aboutRow {
    width: 50vw;
    height: 100vh;
    z-index: 1;
    background-color: #680246ff;
    color: #fcebff;
}