/* Maroon: #680246ff
Light Pink: #fcebff
Dark green: #006400
*/

body {
    margin: 0;
    color: #680246ff;
}

html {
    scroll-behavior: smooth;
}

/* TRANSITIONS */

@keyframes buttonHover {
    0% {
        transform: translate(0, 0);
        box-shadow: 5px 5px #680246ff;
    }
    100% {
        transform: translate(-5px, -5px);
        box-shadow: 10px 10px #680246ff;
    }
}
@keyframes contactButtonHover {
    0% {
        transform: translate(0, 0);
        box-shadow: 6px 6px #00640080;
    }
    100% {
        transform: translate(-4px, -4px);
        box-shadow: 10px 10px #00640080;
    }
}

/* LANDING PAGE */
#homePageContainer {
    position: sticky;
    display: flex;
    height: 300vh;
}
.homePageElement {
    opacity: 1;
}
/* left */
#homeLeftColumn {
    z-index: 1;
    background-color: #fcebff;
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
#bioTextContainer {
    opacity: 1;
    background-color: #fcebff;
    display: flex;
    top: 0;
    left: 0;
    animation: 2s slideInRightSmall ease-out;
    z-index: 5;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    right: 55vw;
    margin-right: 40px;
}
h1 {
    margin: 0 0 0 auto;
    text-align: right;
    margin-bottom: 10px;
    width: 100%;
    font-size: 4em;
}
#bioText {
    text-align: right;
    margin-bottom: 10px;
    min-width: 60vw;
    width: min-content;
    font-size: 1.5em;
    text-wrap: balance;
}
.buttonsContainer {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 0 0 auto;
}
button:hover, button:focus, button:active {
    cursor: pointer;
    animation: 0.5s buttonHover ease-out;
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px #680246ff;
}
button, button:visited {
    transform: translate(0, 0);
    font-size: 16px;
    border: none;
    margin: 10px;
    padding: 10px;
    background-color: #006400;
    color: #fcebff;
    text-decoration: none;
    box-shadow: 5px 5px #680246ff;
}

.otherLink, .otherLink:visited {
    color:#006400;
    padding: 10px;
    font-size: 20px;
}
.otherLink:hover, .otherLink:focus, .otherLink:active {
    color:#006400;  
    padding: 10px;
}

/* right */
#homeRightColumn {
    left: 50vw;
    position: relative;
    display: flex;
    width: 50vw;
    height: 300vh;
    flex-direction: column;
    justify-content: space-around;
}
/* pic */
#imgRow {
    animation: 2s slideInImg ease-out;
    height: 100vh;
    width: 50vw;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    background-attachment: fixed;
}
#imgFrame {
    margin: 0 auto;
    max-width: 600px;
    width: 40vw;
    height: 40vw;
    max-height: 600px;
    overflow: hidden;
    background-image: url('content/bioImg1.jpeg');
    background-position: center;
    background-size: cover;
}
.placeHolder {
    height: 100vh;
    width: 50vw;
}
#fadePlaceHolder {
    height: 100vh;
    width: 50vw;
    background-color: white;
    position: relative;
    z-index: 0;

}
/* about */
#aboutRow {
    overflow-y: hidden;
    font-size: 1.5em;
    position: sticky;
    top: 0;
    left: 50vw;
    padding: 30px;
    width: calc(50vw - 60px);
    height: calc(100vh - 60px);
    z-index: 1;
    background-color: #660268;
    color: #fcebff;
    animation: 2s slideInAbout ease-out;
}
#aboutRow>h2 {
    margin-top: 15px;
}
#aboutListsContainer {
    position: relative;
}
h3 {
    width: 100%;
}
.aboutBio {
    font-size: 20px;
}
ul.aboutList, ul.workList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}
li {
    color:#006400;
    font-size: 20px;
    border-radius: 4px;
    background-color:#ccdfcb;
    box-shadow: 5px 5px #c28db5;
    padding: 7px;
}

/* MY WORK */

#navHeader {
    padding: 0 30px 5px;
    background-color: #fcebff;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navHeader>h2 {
    margin: 0;
}

#myWorkPage {
    background-color: white;
    opacity: 1;
    padding: 0 20px;
    position: relative;
    min-height: 100vh;
    z-index: 2;
    overflow: unset;
    padding-bottom: 20vh;
}
#myWorkTitle {
    margin: 0 0 0 -20px;
    background-color: #006400;
    color: #fcebff;
    padding: 20px;
    position: sticky;
    z-index: 5;
    top: 73px;
    text-align: center;
    font-size: 2em;
    width: 100%;
    height: fit-content;
}
#myWorkContainer {
    display: flex;
    flex-wrap: wrap;
}
/* individual work */
.workPage {
    background-color: white;
    margin: 50px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.workContainer {
    opacity: 1;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5%;
    justify-content: center;
    width: calc(100% - 60px);
    max-width: 900px;
    font-size: 1.5em;
    background: #fcebff;
    color: #680246ff;
}
.workLeftCol {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
}
.workDate {
    width: 200px;
    text-align: center;
    margin-top: 5px;
}
.workImg {
    border:#660268 solid 2px;
    border-radius: 8px;
    position: relative;
    max-width: 200px;
    width: 100%;
}
.workImg:hover {
    cursor: zoom-in;
}
a.workExternalLink {
    padding: 10px;
    background-color: #006400;
    color: #fcebff;
    text-decoration: none;
    box-shadow: 5px 5px #680246ff;
    text-align: center;
}
a.workExternalLink:hover, a.workExternalLink:focus {
    animation: 0.5s buttonHover ease-out;
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px #680246ff;
}
#bigWorkImgContainer {
    z-index: 100;
    display: none;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 105vh;
    background:#000000bb;
    overflow-y: scroll;
}
#bigWorkImgContainer:hover {
    cursor: zoom-out;
}
#bigWorkImg {
    position: relative;
    width: 50vw;
    opacity: 1;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}
.workRightCol {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
}
.workTitle {
    margin: 0;
    font-size: 1.5em;
    top: 0;
    width: 100%;
    height: fit-content;
}
.workTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 25px;
}
.workDescr {
    margin: 5px 0;
    width: 100%;
    height: fit-content;
}
.workButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fit-content;
}
.workSkillsHeader {
    margin: 0;
    font-size: 1em;
}

/* CONTACT */
#contactPage {
    z-index: 1;
    color:#fcebff;
    background-color: #660268;
    padding: 30px;
    height: calc(100vh - 73px - 60px);
    width: calc(50vw - 60px);
}
.contactContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
}
.contactHeader {
    text-align: center;
    font-size: 2.5em;
}
.contactInfo, .contactInfo:visited {
    font-size: 1.3em;
    text-align: center;
    width: calc(40%);
    min-width: fit-content;
    color: #fcebff;
    border-radius: 4px;
    background-color: #006400;
    box-shadow: 6px 6px #00640080;
    padding: 7px;
    margin-bottom: 20px;
    text-decoration: none;
}
.contactInfo:hover, .contactInfo:focus {
    cursor: pointer;
    animation: 0.5s contactButtonHover ease-out;
    box-shadow: 10px 10px #00640080;
    transform: translate(-4px, -4px);
}

/* small version of site */
@media(max-width: 1200px) {
    li {
        font-size: 0.7em;
    }
}
@media (max-width: 950px) {
    #homePagePlaceHolder {
        margin: 0 auto;
        height: 300px;
        width: 80%;
        max-width: 300px;
        background-image: url('content/bioImg1.jpeg');
        background-position: center;
        background-size: cover;
    }
    #bioText {
        padding: 10px 0;
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }
    #imgRow, #imgFrame {
        display: none !important;
    }
    #h1 {
        text-align: center;
        font-size: 3em;
    }
    #homeLeftColumn {
        height: 100vh;
        z-index: 0;
        animation: none;
        width: 100vw;
        align-items: center;
    }
    .buttonsContainer {
        margin: 0 auto;
    }
    #homeRightColumn {
        left: 0;
        width: 100vw;
    }
    #aboutRow, div#contactPage {
        width: calc(100vw - 60px);
    }
    #aboutRow {
        position: relative;
        left: 0;
        height: fit-content;
    }
    #fadePlaceHolder {
        display: none;
    }
    #bigWorkImg {
        width: 80vw;
    }
    #contactPage {
        font-size: 0.8rem;
        height: calc(100vh - 60px - 55px);
    }
}
@media (max-width: 500px) {
    #navHeader {
        padding: 0 10px;
    }
    #navHeader > h2 {
        width: 92px;
    }
    #navButtonsContainer {
        width: fit-content;
        margin: 0 0 0 auto;
    }
    .buttonsContainer > button {
        font-size: 0.8em;
    }
    #myWorkTitle {
        top: 55px;
        font-size: 1.5em;
        width: calc(100vw - 24px);
        padding: 12px;
    }
    .workContainer {
        text-align: center;
    }
    .workContainer > div {
        width: 100%;
    }
    .workDescr {
        text-align: justify;
    }
    .workImg, .workDate {
        max-width: unset;
    }
    ul.workList {
        width: fit-content;
        margin: -10px auto 20px;
    }
    .workContainer {
        flex-direction: column-reverse;
    }
    .workButtonsContainer {
        flex-direction: row;
    }
}