/* Maroon: #680246ff
Light Pink: #fcebff
*/

body {
    margin: 0;
    color: #680246ff;
}

html{
    scroll-snap-type: y mandatory;
}

.scrollSnapAlways {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* TRANSITIONS */
@keyframes slideInLeftBig {
    0% {
        width: 55vw;
        margin-left: -5vw;
    }
    100% {
        width: 50vw;
        margin-left: 0vw;
    }
}
@keyframes slideInRightBig {
    0% {
        margin-left: 5vw;
        width: 45vw;
    }
    100% {
        margin-left: 0;
        width: 50vw;
    }
}
@keyframes slideInRightSmall {
    0% {
        transform: translateX(5vw);
        background-color: transparent;
    }
    100% {
        transform: translateX(0);
        background-color: #fcebff;
    }
}

/* LANDING PAGE */
#homePageContainer {
    display: flex;
    height: 300vh;
}
/* left */
#homeLeftColumn {
    z-index: 5;
    animation: 2s slideInLeftBig ease-out;
    background-color: #fcebff;
    height: 100vh;
    width: 50vw;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#bioTextContainer {
    background-color: #fcebff;
    margin: 0 auto;
    position: fixed;
    display: flex;
    top: 0;
    z-index: 5;
    animation: 2s slideInRightSmall ease-out;
}
.bioTextContainerHome {
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    right: 55vw
}
.bioTextContainerNav {
    font-size: 0.5em;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    left: 0;
}
h1 {
    text-align: right;
    margin-bottom: 10px;
    width: 100%;
    font-size: 4em;
}
#bioText {
    text-align: right;
    margin-bottom: 10px;
    min-width: 40vw;
    width: min-content;
    font-size: 1.5em;
    text-wrap: balance;
}
#buttonsContainer {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
}
button {
    margin: 5px;
}

/* right */
#homeRightColumn {
    position: relative;
    display: flex;
    width: 50vw;
    height: 300vh;
    flex-direction: column;
    justify-content: space-around;
}
/* pic */
#imgRow {
    animation: 2s slideInRightBig ease-out;
    height: 100vh;
    width: 50vw;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-attachment: fixed;
}
#imgFrame {
    margin: 0 auto;
    max-width: 600px;
    width: 40vw;
    height: 40vw;
    max-height: 600px;
    overflow: hidden;
    background: url('/bioImg.jpeg');
    background-position: center;
    background-size: cover;
}
.placeHolder {
    height: 100vh;
    width: 50vw;
}
/* about */
#aboutRow {
    font-size: 1.5em;
    position: sticky;
    top: 0;
    padding: 30px;
    width: calc(50vw - 60px);
    height: calc(100vh - 60px);
    z-index: 6;
    background-color: #660268;
    color: #fcebff;
    animation: 2s slideInRightBig ease-out;
}
#aboutListsContainer {
    position: relative;
}
ul.aboutList {
    width: 100%;
    clear: both;
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}
li {
    border: #fcebff solid 2px;
    padding: 7px;
    float: left;
    margin: 4px;

}

/* small version of full home page */
@media (max-width: 900px) {
    #homePageContainer {
        display: block;
    }
    #homeLeftColumn, #homeRightColumn, #aboutRow, div#contactPage {
        width: 100vw;
        animation: none;
    }
}

/* MY WORK */
#myWorkPage {
    padding: 20px;
    position: relative;
    min-height: 100vh;
    background-color: white;
    z-index: 1;
}
#myWorkTitle {
    text-align: center;
    font-size: 2em;
    width: 100%;
    height: fit-content;
}
#myWorkContainer {
    display: flex;
    flex-wrap: wrap;
}
/* individual work */
.workTitle {
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    height: fit-content;
}
.workContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px;
    font-size: 1.5em;
}
.workImg {
    width: 20%;
    margin: 3%;
}
.workDescr {
    width: 50%;
    margin: auto 3%;
    height: fit-content;
}

.workContainer:nth-child(even) {
    background: #680246ff;
    color: #fcebff;
}
.workContainer:nth-child(odd) {
    background: #fcebff;
    color: #680246ff;
}

/* CONTACT */
#contactPage {
    z-index: 1;
    background-color: #fcebff;
    height: calc(100vh - 40px);
    padding: 20px;
    width: 50vw;
}